<!DOCTYPE html>
<html>
    <head>
        <title>Prime Number Generator</title>
        
        <script src="js/vendor/angular/angular.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/primeService.js"></script>
        <script src="js/app/primeController.js"></script>

        <link rel="stylesheet" href="css/foundation.min.css" type="text/css" />
        <link rel="stylesheet" href="css/app.css" type="text/css" />
    </head>
    <body ng-app="primeApp">        
        <div ng-controller="primeController">
            <div class="row">
                <div class="small-12 columns">
                    <h1>Prime Number Generator</h1>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="small-12 medium-2 columns text-center">
                    <input ng-disabled="processing" type="text" ng-model="model.maxTime" placeholder="Seconds">
                    <input ng-disabled="processing" type="button" class="button expanded" value="Go!" ng-click="calcMaxPrime()" /><br />
                    <img ng-show="processing && !error" src="img/loading.gif" />
                </div>
                <div ng-show="!processing && !complete" class="small-12 medium-10 columns">
                    Please input the number of seconds you wish to calculate the maximum prime number in and click the "Go!" button.
                </div>
                <div ng-cloak>
                    <div ng-show="error" class="small-12 medium-10 columns">
                        <div ng-if="error" class="callout alert expanded">Error occurred: {{error}}</div>
                    </div>
                    <div ng-show="(processing || complete) && !error" class="small-12 medium-10 columns">
                        <div class="row">
                            <div class="small-12 medium-6 large-3 columns text-right">
                                
                                <label>Elapsed Time</label>
                                {{model.totalTime/1000|number:2}} sec.
                            </div>
                            <div class="small-12 medium-6 large-3 columns text-right">
                                <label>Numbers Inspected</label>
                                {{model.totalNumbers|number:0}}
                            </div>
                            <div class="small-12 medium-6 large-3 columns text-right">
                                <label>Total Primes Founds</label>
                                {{model.totalPrimes|number:0}}
                            </div>
                            <div class="small-12 medium-6 large-3 columns text-right">
                                <label>Largest Prime Found</label>
                                <b>{{model.maxPrime|number:0}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>